@font-face {
    font-family: "Inter";
    src: url(Inter.ttf) 
}

body {
    font-family: Inter, serif;
    margin: 0 auto;
    padding: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;

}


.content-wrapper {
    max-width: 1000px;
    margin: 0px auto;
}


.container {
    margin: 0px auto;
    padding-right: 100px;
    font-size: 14px;
    display: flex;             
    justify-content: center;
    align-items: center;      
   
 }

 .img {
    
    width: 40px;
    height: 40px;
    padding-top: 20px;

}

.img2 {
    width: 40px;
    height: 40px;
    padding-top: 20px;

}


.name {
    padding-top: 20px;
    font-weight: bold;  
    text-align: left;
}



.subtitle {
    font-size: 14px; 
    color: gray; 
}

.dogeting2 {
    margin-left: 80px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
    max-width: 50%;
}

.dogeting {
    margin-left: 80px;
    margin-top: 50px;
    text-align: left;
    max-width: 50%;
}


a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    font-weight: 320;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.pic, .pic2, .pic3 {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    top: 0;
    flex-wrap: wrap;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
}

/* Vänster sida: logotyp och meny */
.navbar-left {
    display: flex;
    align-items: center;   
    padding-left: 10px;
}

.logo {
    height: 25px; /* Justera storleken på logotypen om det behövs */
    margin-right: 20px;
}

.menu {
    display: contents;
    width: 30px;
    cursor: pointer;
    list-style: none;
    line-height: 1.5; /* Se till att samma line-height används för konsekvent vertikal justering */
}

.menu li {
    margin-right: 15px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

/* Hover-effekt */
.menu li a:hover {

    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;

}

/* Höger sida: knappar och länkar */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 5px;
  
}

.navbar-right a:hover{
    background-color: #f0f0f0; /* Ljusgrå bakgrund vid hover */
    border-radius: 3px;
} 

.request-demo, .login {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.navbar-right {
    display: flex;
    align-items: center; 
}

.navbar-right .separator {
    width: 1px; 
    height: 20px; 
    background-color: #ccc; 
    margin-right: 20px;
}

.hamburger {
    display: none;
    padding-right: 10px;
   
}

.get-barky {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.get-barky:hover {
    background-color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 650;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero .cta {
    padding: 10px 20px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    text-decoration: none;
}



.cta:hover {
    background-color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-image img {
    max-width: 400px;
}

.fetch-results {
    padding: 20px 20px;
}

.fetch-results h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 80px;
 
}

.doggie {
    margin-left: 80px;
    text-align: left;
    max-width: 50%;
    font-size: 15px;
}


.fetch-results img {
    max-width: 800px;
}



.quote-text {
    font-size: 24px;
    font-weight: bold;
    color: #999999;
    width: 700px;
    margin: 0 auto;

}

.quote-text cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}