@font-face {
    font-family: "Inter";
    src: url(Inter.ttf) 
}

body {
    font-family: Inter, serif;
    margin: 0 auto;
    padding: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;

}


.content-wrapper {
    max-width: 1000px;
    margin: 0px auto;
}


.container {
    margin: 0px auto;
    padding-right: 100px;
    font-size: 14px;
    display: flex;             
    justify-content: center;
    align-items: center;      
   
 }

 .img {
    
    width: 40px;
    height: 40px;
    padding-top: 20px;

}

.img2 {
    width: 40px;
    height: 40px;
    padding-top: 20px;

}


.name {
    padding-top: 20px;
    font-weight: bold;  
    text-align: left;
}



.subtitle {
    font-size: 14px; 
    color: gray; 
}

.dogeting2 {
    margin-left: 80px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
    max-width: 50%;
}

.dogeting {
    margin-left: 80px;
    margin-top: 50px;
    text-align: left;
    max-width: 50%;
}


a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    color: black;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #666666;
    font-weight: 320;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.pic, .pic2, .pic3 {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    top: 0;
    flex-wrap: wrap;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
}

/* Vänster sida: logotyp och meny */
.navbar-left {
    display: flex;
    align-items: center;   
    padding-left: 10px;
}

.logo {
    height: 25px; /* Justera storleken på logotypen om det behövs */
    margin-right: 20px;
}

.menu {
    display: contents;
    width: 30px;
    cursor: pointer;
    list-style: none;
    line-height: 1.5; /* Se till att samma line-height används för konsekvent vertikal justering */
}

.menu li {
    margin-right: 15px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

/* Hover-effekt */
.menu li a:hover {

    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;

}

/* Höger sida: knappar och länkar */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 5px;
  
}

.navbar-right a:hover{
    background-color: #f0f0f0; /* Ljusgrå bakgrund vid hover */
    border-radius: 3px;
} 

.request-demo, .login {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.navbar-right {
    display: flex;
    align-items: center; 
}

.navbar-right .separator {
    width: 1px; 
    height: 20px; 
    background-color: #ccc; 
    margin-right: 20px;
}

.hamburger {
    display: none;
    padding-right: 10px;
   
}

.get-barky {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.get-barky:hover {
    background-color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 650;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero .cta {
    padding: 10px 20px;
    background-color: black;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    text-decoration: none;
}



.cta:hover {
    background-color: #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-image img {
    max-width: 400px;
}

.fetch-results {
    padding: 20px 20px;
}

.fetch-results h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 80px;
 
}

.doggie {
    margin-left: 80px;
    text-align: left;
    max-width: 50%;
    font-size: 15px;
}


.fetch-results img {
    max-width: 800px;
}



.quote-text {
    font-size: 24px;
    font-weight: bold;
    color: #999999;
    width: 700px;
    margin: 0 auto;

}

.quote-text cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.logo-section {
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px; 
    justify-content: center;
}

.logo-section img {
    height: 20px;
}

.kennel, .docs {
    text-align: center;
    padding: 20px 20px;
}

.kennel img, .docs img {
    max-width: 800px;
}

.doggy1 {
    text-align: left;
    padding-right: 400px;
    font-size: 32px;
    max-width: 50%;
    margin-left: 80px;


}

.doggy2 {
    text-align: left;
    padding-right: 400px;
    font-size: 15px;
    padding-top: 0px;
    margin-left: 80px;
    max-width: 50%;
 
}

.quote-text2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #999999;
    width: 700px;
}

footer {
    padding: 20px;
    text-align: center;
    max-width: 1200px;
}

.footer-logos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-logos img {
    margin: 0 15px;
    max-width: 150px;
}

footer p {
    margin: 0;
    font-size: 16px;
}

.free-plan {
    border-top: solid 1px #ddd;
    text-align: center;
    padding: 50px 20px;
    margin: 20px 20px 0 20px;
}

.free-plan h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.free-plan p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #666;
}

.cta-button {
    background-color: #000; /* Button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 40px;
}

.features-table {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    overflow: hidden; /*Ser till att innehållet hålls inom de rundade hörnen */

}

.features-table table {
    width: 100%;
    border-collapse: collapse;
   
}

.features-table th, .features-table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4 ; /* Header background color */
   
}

.features-table th {
    background-color: #f4f4f4 ; /* Header background color */
    padding-top: 30px;
    font-weight: normal;
 
}

.checkmark {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}


#right {
    text-align: right;
    color: black;
}

td.checkmark img {
    width: 20px;
    height: 20px;
}

tr, td {
    color: #666;
}

.footer {
    padding-top: 20px;
}

.features-table tr:last-child td {
    border-bottom: none; 
}


.team-section {
    text-align: center;
    margin: 20px 20px 0 20px;
}

.team-section h2 {
    font-size: 26px;
    border-top: 1px solid #ddd;
    padding-top: 70px;
    margin-bottom: 10px;
    font-weight: 650;
}

.team-section p {
    font-size: 16px;
    color: #666;
    margin-top: auto;
    margin-bottom: 30px;
}

.team-cards {
    display: flex;
    gap: 20px;
}

.team-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}


.team-card:not(:last-child) {
    border-right: 1px solid #ddd;
}

.team-card .emoji {
    font-size: 30px;
}

.team-card h3 {
    font-size: 18px;
    display: inline;
}

.team-card p {
    font-size: 14px;
    color: #333;
}

.team-card .learn-more {
    color: black;
    text-decoration-line: underline;
    display: inline-block;
}

.team-card .learn-more:hover {
    color: #087fe7;
}

.dogs-love-us {
    text-align: center;
    margin: 40px 0;
}

.dogs-love-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dogs-love-us p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.g2-awards {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: fit-content;
}




.g2-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0; 
}

.text-content {
    padding-left: 20px;
    text-align: left;
    margin-right: 20px; 
    max-width: 500px;
}

 


.stats-container {
    color: #999999;
    display: flex;
    align-items: baseline;
}

.stat-item {
    flex: 1;
    padding: 20px;
    margin: 0 10px;

}

.stat-item:not(:last-child) {
    width: 100px;
    top: 30%;
    bottom: 30%;
    margin: 10px;
    border-right: 1px solid #ccc;
}

.percentage {
    font-size: 53px; 
    font-weight: bold;
}

.description {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.barky-section {
    text-align: center;
}

.barky-section h2 {
    font-size: 36px;
    margin: 0;
}

.barky-section p {
    font-size: 14px;
    color: #666;
}

.button {
    margin: 20px;
    padding: 8px;
    background-color: #000;
    color: white;
    border-radius: 5px;
}


/* Footer Section */
footer {
    width: 100%;
    padding: 20px 0;
    color: #333;
    font-size: 13.5px;
    background-color: white; 
}

.footer {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto; 
    color: #333;
    font-size: 13.5px;
    margin-top: 100px;
    border-top: 1px solid #ccc; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding: 30px 20px;
}



.footer-logo {
    width: 120px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.footer-left p {
    color: #777;
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding-left: 40px;
}

.footer-column {
    flex: 1; 
}

.footer-column h4 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a:hover {
    color: #000;
    text-decoration: underline;
}